<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>Lista de Categorias</title>
</head>
<body>
	<h1>Categorias!</h1>
	<table class="table">
		<thead>
			<tr>
				<th>Nome</th>
				<th>Descrição</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="categoria : ${categorias}">
				<td th:text="${categoria.nome}"></td>
				<td th:text="${categoria.descricao}"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>